header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 96px;
    img{
        width: $headerImgWidht;
        height: $headerImgH;
       

    }
    ul{
        list-style-type:none ;
        li{
            
            display: inline-block;
            a{
                @include myNavbar(white,black);
                text-decoration: none;
                
            }
            button{ 
                @include myBtn(#FFFFFF,#FB8F1D);
                border:2px solid #FB8F1D;
            }
            #register-btn{
               @include myBtn(#FB8F1D,#FFFFFF);
            }
        
            
        }
    }
    
}