/* #time {
    height: 10rem!important;
} */
body{
    background-image: url(https://cdn.pixabay.com/photo/2015/04/14/23/17/it-business-722950_1280.png)!important;
}
tr td,th{
    background-color: rgb(238, 185, 11) !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
tr th{
    color: rgb(247, 5, 5) !important;
}