@import "./-base/reset";
@import "./-abstracts/_mixin";
@import "./-abstracts/variables";
@import "./-components/footer";
@import "./-components/navbar";
@import "./-components/responsive";
@import "./-sections/about";
@import "./-sections/destination";
@import "./-sections/guide";
@import "./-sections/home";



body{
    background-color: white;
    margin: 3rem;
    
}
#sec3{
    @include mySect;
    height: 325px;
    width: 1712px;

    article{ display: flex;
        div{
            margin: 10px;
            height: 32;
        }
        position: relative;

         img{
        height: 325px;
        width: 377px;
        transition: 2s all ease ;
        &:hover{
                transform: scale(1.1);
            }
       
    }
    p{
        position: absolute;
        bottom: 0;
        background-color: white;
         border: 2px solid red;
            border-radius: 5px;
            
       
        
    }
    
    
    }
   
}