* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
 
  background-color: rgb(19, 30, 37);
}
header h1 {
  text-shadow: 15px;
  font-family: "Natural Toons", sans-serif;
  margin: 30px;
  font-size: 48px;
  font-family: "Bungee Shade", cursive;
  cursor: pointer;
  color: rgb(56, 204, 155);
}

.top-nav a {
  text-decoration: none;
  color: rgb(177, 98, 98);
  background-color: antiquewhite;
  border-radius: 10px;
  border: 2px solid rgb(209, 98, 98);
  padding: 15px;
  margin: 20px;
  width: 35px;
}
.top-nav a:hover {
  color: red;
  background-color: lightgray;
}

main p {
  font-size: 48px;
color: rgb(87, 87, 231);
  border: 2px solid red;
  border-radius: 10px;
  width: 700px;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
  font-weight: 600;
  font-family: "Rampart One", cursive;
  margin-top: 200px;
}
main h2 {
  text-decoration: underline;
  color: white;
  font-family: "Rampart One", cursive;
  font-size: 3em;
  margin: 20px;
}
img {
  width: 300px;
  height: 400px;
  cursor: pointer;
}

footer p {
  font-family: "Rampart One", cursive;
  text-decoration: underline;
  color: rgb(255, 255, 255);
  font-size: 2em;
  margin: 20px;
}
.social a {
  margin: 10px;
  color: bisque;
  font-size: 20px;
  text-decoration: none;
}
.social a:hover {
  color: red;
}
.input {
  margin: 10px;
  padding: 10px;
}
.input input {
    margin: 10px;
  width: 300px;
  height: 50px;
  border: 2px solid bisque;
  border-radius: 10px;
}
.input input:hover {
  border-color: red;
}
textarea {
  width: 300px;
  height: 200px;
  border: 2px solid bisque;
  border-radius: 10px;
}
textarea:hover {
  border-color: red;
}
footer {
  margin-bottom: 50px;
}
.submit {
  background-color: bisque;
  width: 150px;
  height: 50px;
  color: white;
}
.submit:hover {
    
  color: red;
  background-color: rgb(212, 138, 47);
}

.submit:hover::after{
    content: "❤️";
}
.top-button {
text-align: right;
margin-bottom: 30px;
}
.top-button a {
    border: 2px solid yellow;
    background-color: rgb(114, 80, 16);
    color: rgb(248, 242, 242);
    border-radius: 10px;
    padding: 15px;
}

.top-button a:hover {
    background-color: lightgray;
}