#sec4{
    @include mySect;
    article{
        margin: 3rem;
        margin: auto;
        h1{
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 30px;
           height: 50px ;
           width: 770px;
           font-family:'Times New Roman', Times, serif;
          
           
        }
        p{
            height: 60px;
            width: 770px;
            font-size: 1.3rem;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 1rem;
        }
        button{
            @include myBtn(#fb8f1d,#fff);
            width: 296px;
            height: 36px;
        }
    }
    .img3{
        @include myImg;
    }

 }
 